<p>
	Üdvözöllek a tagnyilvántartó oldalunkon! Az alábbi szövegbeviteli mező segítségéven kereshetsz a tagok között, vagy választhatod az összetett keresési opciót is.
</p>
<%= form_tag '/members/search', :method => :get do %>
<div>
	Kererés:
	<%= text_field_tag :s %>
	<%= submit_tag :Keresés %>
</div>
<% end %> 
<%= link_to 'Részletes keresés', '/members/advanced_search' %>
