body {
    width: 960px;
    margin: 0 auto 0 auto;
    background: url('/assets/bg.png');
    font-family: calibri, verdana, sans-serif;
    font-size: 14px;
}
table, .field {
    border: solid thin black;
    border-radius: 10px;
    background: white;
    box-shadow: 5px 5px 5px #888;
    padding: 10px 10px 10px 10px;
    margin: 5px 0 5px 0;
}
tr {

}
td {
    padding: 10px 10px 10px 10px;
}
label {
    font-weight: bold;
    font-size: 1.4em;
    display: block;
}
#footer {

    margin: 10px 0 0 0;
    text-align: center;
}
